/* 
@media (max-width: 600px) {
	#images {
		width: 15vw;
		height: 35vh;
	}
	
	.container {
		margin-top: 30px;

		justify-content: center;
		align-items: center;
		display: grid;
		gap: 10px;
		grid-template-columns: auto  ;
	

		
	}
} */

#images {
	width: 15vw;
	height: 35vh;
}

.container {
	margin-top: 30px;

	justify-content: center;
	align-items: center;
	display: grid;
	gap: 10px;
	grid-template-columns: auto auto auto auto;

	
}

@media (max-width: 600px) {
  #images {
    width: 80vw; 
    height: auto;
  }

  .container {
width: 90%;
    margin-top: 10px; 
    grid-template-columns: auto auto; 
  }
}